<header>
  <div class="user">
    <p-menubar [model]="items" [style.textAlign]="'right'">
      <ng-template pTemplate="start">
        <img
          src="./assets/images/placeholder.com-logo4.jpg"  class="logo p-mr-2" alt="brand logo">
      </ng-template>
<!--      <ng-template pTemplate="end">-->
<!--        <label>-->
<!--          <input type="text" pInputText placeholder="Szukaj">-->
<!--        </label>-->
<!--        <button type="button" (click)="logout()" pButton label="Wyloguj" icon="pi pi-power-off" style="margin-left:.25em"></button>-->
<!--      </ng-template>-->
    </p-menubar>
  </div>
</header>

